<%- include("../partials/header")%> <%- include("../partials/navigation")%>

<h1><%=title%></h1>
<ul>
    <% skills.forEach(s=>{%>
    <li>
        <a href="/skills/<%=s.id%>"
            >Skill: <%=s.skill%> - Experience: <%=s.level%>
        </a>
    </li>
    <%})%>
</ul>
<a href="/skills/new"><button>Add Mad Skill</button></a>
<%- include("../partials/footer")%>
